* {
  box-sizing: border-box;
}
.wrapper {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  background-color: #d6d1f0;
  text-align: center;
  background: url(../img/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.list_works {
  padding: 0;
  list-style-type: none;
  font-size: 18px;
}
.item_works {
  padding: 20px;
  margin: 5px;
}
.link_works {
  display: inline-block;
  width: 40%;
  color: #DAD7CD;
  font-weight: bold;
  text-decoration: none;
  padding:10px;
  background-color: #588157;
  border-radius: 20px;
  border: 1px solid #344E41;
}