* {
  box-sizing: border-box;
}
.wrapper {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0 auto;
  padding: 15px;
  border-radius: 6px;
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
  height: 100vh;
  text-align: center;
  background: url(../img/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.list_works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
}
.item_works {
  /* width: 90%; */
  /* height: 100%; */
  padding: 5px;
  margin-bottom: 5px;
}
.link_works {
  /* height: 90%; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #352901;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 5px;
  background-color: #588157;
  border-radius:10px;
  border: 1px solid #344E41;
}
.link_works:hover {
  transform: scale(1.1);
  color: rgb(61, 52, 150);
}