@font-face {
  font-family: 'Gotham';
  src: url(../fonts/gotham/Gotham-Black.otf) format('otf'),
    url(../fonts/gotham/Gotham-Black.ttf) format('ttf'),
    url(../fonts/gotham/Gotham-Black.woff) format('woff');
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #544837;
  font-size: 16px;
  font-weight: 500;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #2F281E;
}

.w-50 {
  width: 50%;
}

.p-50 {
  padding: 50px 0;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.logo {
  display: inline-block;
  width: 200px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
}

.header_list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  flex-grow: 1;
  text-transform: capitalize;
}

.header-item:hover,
.footer_list-item:hover  {
  color: #FF9900;
}

.nav_button {
  display: flex;
  justify-content: flex-end;
  column-gap: 32px;
  font-weight: 600;
}

.button {
  padding: 13px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;

  font-weight: 700;
  display: inline-block;
  text-align: center;
  width: 100%;
  min-width: 110px;
}

.white-button {
  border: 1px solid #BCD0E5;
}

.orange-button {
  background-color: #FF9900;
  color: #fff;
}

.button-start {
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: 700;
  padding: 13px;
  width: 100%;
  max-width: 180px;
}

.first-screen_page {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  height: calc(100vh - 81px);
}

.first-screen_content {
  width: 100%;
  max-width: 500px;
  margin: auto auto auto 0;
}

.first-screen_title {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 30px;
  color: #2F281E;
}

.first-screen_text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.first-screen-img {
  width: 100%;
  max-width: 640px;
  background-image: url(../img/first-screen-Image.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.design-tools {
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
}

.design-tools_title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  max-width: 540px;
}

.design-tools-list {
  display: flex;
  column-gap: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.design-tools-item {
  text-align: left;
}

.tools-icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: #BCD0E5;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.design-tools-item:nth-of-type(1n) .tools-icon {
  background-color: #7752BE;
}

.design-tools-item:nth-of-type(2n) .tools-icon {
  background-color: #FAB005;
}

.design-tools-item:nth-of-type(3n) .tools-icon {
  background-color: #F03E3D;
}

.design-tools-item:nth-of-type(4n) .tools-icon {
  background-color: #4DADF7;
}


.tools-title {
  display: block;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}

.about_wrapper-page {
  display: flex;
  justify-content: space-between;
}

.about_content {
  max-width: 525px;
}

.about_content-item {
  margin-bottom: 30px;
}

.about_item-title {
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
}

.about-img {
  background-image: url(../img/design-pro-img.svg);
  width: 100%;
  max-width: 562px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.revers {
  flex-direction: row-reverse;
}

.produkt_managers_content {
  width: 100%;
  max-width: 505px;
}

.produkt_managers-item {
  margin-bottom: 30px;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.product_managers-img {
  background-image: url(../img/product-managers-img.svg);
  width: 100%;
  max-width: 570px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.product_managers-icon {
  width: 100%;
  max-width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #FF9900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
}

.product_managers-text {
  font-size: 16px;
}

.marketers-img {
  background-image: url(../img/marketers-img.svg);
  width: 100%;
  max-width: 570px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
  padding: 70px 0;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
}

.footer_menu-title {
  color: #2F281E;
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer_list-item {
  margin-bottom: 15px;
}

.footer_menu-form {
  width: 100%;
  max-width: 340px;
}

.footer_form-input {
  display: block;
  width: 100%;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  padding: 15px 10px;
  margin: 25px auto 25px 0;
}

.footer_form-input::placeholder {
  color: #BCD0E5;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}