body {
  min-height: 100vh;
  background-color: #497f83;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 40px;
  margin: 0;
  animation: cssAnimation_0 2s infinite ease;
  padding: 50px;
  border: 4px solid rgb(35, 17, 85);
  border-radius: 30%;
  background-color: #cec0c0;
}

@keyframes cssAnimation_0 {
  0% {
      border-radius: 30%;
  }

  50% {
      border-radius: 50%;
  }
  100% {
      border-radius: 30%;
  }
}