* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

.container {
    padding-top: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #c16060;
}
.title_h1 {
    font-size: 34px;
    text-align: center;
    text-transform: capitalize;
}
.search_input {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.input_text {
    width: 100%;
   border: 1px solid #c16060;
   border-radius: 10px;
    padding: 10px 30px 10px 10px;
    outline: none;
}
.input_text:focus {
    border: 1px solid blue;
    box-shadow: 10px 10px 10px 0px blue;
}
.input_text[value] {
    color: #c16060;
}
.input_text[value]:focus {
    color: blue;
}
.input_button {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    padding: 0;
    color: #c16060;
    padding: 5px;
    background-color: transparent;
}
.input_button:hover {
    color: blue;
}
.input_radio {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.input_radio-btn {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #c16060;
    border-radius: 10px;
    width: 100%;
    max-width: 100px;
    text-transform: uppercase;
    margin: 5px;
}
.input_radio-btn:hover {
    border: 1px solid blue;
    color: blue;
}

.list-search_result li{
    display: flex;
    /* align-items: flex-end; */
    gap: 30px;
    margin-bottom: 10px;
    color: blue;
}

/* .list-search_result {
    list-style: none;
} */
.poster_search {
    width: 100px;
    height: auto;
    object-fit: contain;
}
.title_search,
.year_search {
    padding-top: 20px;
}
.pagination {
    display: flex;
    list-style: none;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
.page-item {
    border: 1px solid #c16060;
    border-radius: 10px;
}
.page-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 10px;
}
/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.my_card {
    padding: 60px 40px;
    background-color: #212534;
    color: white;
}

.card_wrapper {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position: relative;
}
  
.img_info__img {
    position: relative;
    width: 400px;
    margin-bottom: 25px;
}
.img_info__img::before {
    content: "";
    display: block;
    padding-top: 150%;
}
.img_info__img .img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%; 
    transform: translate(-50%, -50%); 
    object-fit: cover;
}

.img_info__rating {
    text-align: center; 
    display: flex; 
    justify-content: center;
}

.card__text_info {
    max-width: 319px;
    width: 100%;
    position: relative;
}

.card__text_info .card_title {
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 15px;
}

.card__text_info .card__release_date {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
}

.card__text_info .card__description {
    font-size: 14px;
    line-height: 22px;
    color: #B7BACD;
    margin-bottom: 50px;
    max-width: 277px;
    width: 100%;
}

.card__text_info .card__to_buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card__text_info .card__amount {
    margin-right: 50px;
}

.card__text_info .card__amount .amount__discount {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #FFDD3F;
    margin-bottom: 4px;
}

.card__text_info .card__amount .amount__price {
    font-size: 32px;
    line-height: 32px;
}

.card__text_info .button__to_buy {
    padding: 20px 30px;
    background: #13E28D;
    border-radius: 2px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border: 1px solid #13E28D;
    cursor: pointer; 
    transition: all 0.8s ease;
}

.card__text_info .button__to_buy:hover {
    border: 1px solid #FFFFFF; 
    transform: scale(1.1);
}

.score {
    position: absolute;
    top: -20px;
    right: 0;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    border: 3px solid #FFDD3F;
}

.score .count {
    font-size: 20px;
    line-height: 22px;
    color: #FFDD3F;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

#card_block {
    max-width: 800px;
    width: 100%;
} */