* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.d-none {
    display: none;
}

.main {
    background-image: url(./img/bg.jpg);
}

.container {
    padding-top: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #872349;
    min-height: 100vh;
}

.title_h1 {
    font-size: 34px;
    text-align: center;
    text-transform: capitalize;
}

.search_input {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.input_text {
    width: 100%;
    border: 1px solid #872349;
    border-radius: 10px;
    padding: 10px 30px 10px 10px;
    outline: none;
}

.input_text:focus {
    border: 1px solid blue;
    box-shadow: 10px 10px 10px 0px blue;
}

.input_text[value] {
    color: #872349;
}

.input_text[value]:focus {
    color: blue;
}

.input_button {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    padding: 0;
    color: #872349;
    padding: 5px;
    background-color: transparent;
}

.input_button:hover {
    color: blue;
}

.input_radio {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.input_radio-btn {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #872349;
    border-radius: 10px;
    width: 100%;
    max-width: 100px;
    text-transform: uppercase;
    margin: 5px;
}

.input_radio-btn:hover {
    border: 1px solid blue;
    color: blue;
}

.list-search_result li {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 10px;
    color: #872349;
}

.poster_search {
    width: 100px;
    height: auto;
    object-fit: contain;
}

.pagination {
    display: flex;
    list-style: none;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.page-item {
    border: 1px solid #872349;
    border-radius: 10px;
}

.page-item:hover {
    border: 1px solid blue;
    color: blue;
}

.page-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 10px;
}

.button_details {
    color: #872349;
    font-family: inherit;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #872349;
    border-radius: 10px;
    width: 100%;
    max-width: 100px;
    text-transform: uppercase;
}

.my_card {
    padding: 5px;
    background-color: rgba(127, 209, 216, .5);
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.card_wrapper {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.card__img {
    width: calc(40% - 10px);
}

.img_actors {
    text-align: left;
}

.card__text {
    width: calc(60% - 10px);
    text-align: left;
}

.film_title {
    vertical-align: middle;
    padding-top: 100px;
}

.card_title {
    display: inline-block;
    margin: 0;
}

.card_date {
    display: inline-block;
}

.percent {
    display: block;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #872349;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 5px;
    right: 5px;
}