
a {
  display: inline-block;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #021709;
}
.header {
  background-color: #93d5cd;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  max-width: 100px;
  transition: all .3s ease;
}
.logo:hover {
  transform: scale(1.2);
}
.blog_name {
  text-transform: capitalize;
  font-size: 45px;
  letter-spacing: 5px;
}
.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}
.nav_link {
  transition: all .2s ease-in-out;
  padding: 5px;
}
.nav_link:hover {
  transform: scale(1.2);
  color: #476d01;
}
.banner_img {
  background: linear-gradient(rgba(56, 52, 60, 0.3), rgba(47, 231, 225, 0.3)),
    0 -60px / cover no-repeat url('../img/bg_banner.webp');
  text-align: center;
  text-transform: uppercase;
  height: 25vh;
}
.banner_img h2 {
  opacity: 0;
}
.main { 
  background-color: #93d5cd;
}
.main .container {
  display: flex;
  column-gap: 10px;
  padding: 30px 20px;
}
.section_main {
  width: 60%;
  padding: 20px;
  background-color: #1bd1ce;
  border-radius: 10px;
}
.blog_title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.blog_card {
  background-color: #93d5cd;
  border-radius: 10px;
  padding: 20px 0px 20px 10px;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  transition: all .3s ease;
}
.blog_card:not(:last-child),
.news_card:not(:last-child)
{
  margin-bottom: 20px;
}
.blog_card:hover {
  color: #476d01;
  background-color: #93b1d5e6;
}
.blog_link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.aside {
  width: 40%;
}
.news_card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  transition: all .3s ease-out;
}
.news_card img {
  object-fit: cover;
  height: 100%;
}
.news_card:last-child {
  margin-bottom: 0;
}
.news_card:hover {
  transform: scale(1.02);
}
.news_card-desc {
  position: absolute;
  padding: 5px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  background-color: rgba(147, 177, 213, .3);
  border-radius: 5px;
  font-size: 16px;
  transition: all .5s ease;
}
.news_card:hover .news_card-desc {
  background-color: rgba(147, 177, 213, .8);
}