*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

button, input {
  outline: 0;
  border: 0;
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.page_wrapper {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #2C4058;
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  width: 100%;
  max-width: 241px;
  transition: all 0.3s ease;
}
.logo:hover {
  transform: scale(1.2);
}

.header {
  z-index: 2;
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  width: 100%;
}
.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_menu-list {
  display: flex;
  column-gap: 70px;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  font-size: 14px;
}
.header_menu-item {
  transition: all 0.3s ease;
}
.header_menu-item:hover {
  transform: scale(1.2);
}

.social_list {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.social_item {
  transition: all 0.3s ease;
}
.social_item:hover {
  transform: scale(1.2);
}

.social_link {
  display: inline-block;
}

.social-icon {
  width: 40px;
  height: 40px;
}

.main_title {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 90px;
}
.main_title::before {
  content: "";
  background-color: #2C4058;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100px;
  height: 1px;
}

.sub_title {
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.button_link {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  padding: 16px 41px 17px;
  border: 1px solid #2C4058;
  transition: all 0.3s ease;
}
.button_link:hover {
  background-color: #60A6FF;
  color: #fff;
  border: 1px solid #60A6FF;
}

.scrool_map {
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  color: #000;
}
.scrool_map:hover {
  color: #60A6FF;
  --col_scroll-map: #60A6FF;
}
.scrool_map-desc {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
  margin-left: 10px;
}

.location-svg {
  width: 9px;
  height: 14px;
}

.hero_slider-vertical .slick-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}
.hero_slider-vertical .slick-dots li {
  display: block;
}
.hero_slider-vertical .slick-dots li button:before {
  width: 10px;
  height: 10px;
  font-size: 0;
  border: 1px solid #fff;
  border-radius: 50%;
}
.hero_slider-vertical .slick-dots .slick-active button:before {
  background-color: #fff;
}

.hero {
  position: relative;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero.hero_1 {
  background-image: url(../img/hero_slide_1.png);
}
.hero.hero_2 {
  background-image: url(../img/hero_slide_2.png);
}
.hero.hero_3 {
  background-image: url(../img/hero_slide_3.png);
}
.hero.hero_4 {
  background-image: url(../img/hero_slide_4.png);
}
.hero.hero_5 {
  background-image: url(../img/hero_slide_5.png);
}
.hero_content {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  text-transform: uppercase;
}
.hero_content-title {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
}
.hero_content-description {
  font-size: 18px;
  letter-spacing: 5.4px;
}
.hero .scroll_down {
  display: inline-block;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translatex(-50%);
}
.hero .scroll_down-svg {
  width: 42px;
  height: 40px;
}

.projects {
  padding: 150px 0;
}
.projects .project {
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.projects .project_img {
  width: calc(50% - 35px);
  max-width: 630px;
}
.projects .project_content {
  width: calc(50% - 35px);
}
.projects .project_content-sub {
  font-size: 22px;
  text-transform: uppercase;
}
.projects .project_content-desc {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 470px;
}
.projects .project_reverse {
  flex-direction: row-reverse;
}

.after_blue {
  position: relative;
}
.after_blue::after {
  position: absolute;
  content: "";
  display: block;
  width: 2000px;
  height: 100%;
  top: -20%;
  z-index: -1;
  right: 60%;
  background-color: #55B7FF;
}

.after_purple {
  position: relative;
}
.after_purple::after {
  position: absolute;
  content: "";
  display: block;
  width: 2000px;
  height: 100%;
  top: -20%;
  z-index: -1;
  left: 60%;
  background-color: #7E5AFF;
}

.news {
  padding: 150px 0;
  background-image: url(../img/latest_news_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.news .main_title {
  color: #fff;
}
.news .main_title::before {
  background-color: #fff;
}
.news_card {
  background-color: #fff;
  width: 100%;
  max-width: 370px;
  position: relative;
  margin: 0px 10px;
}
.news_card-img img {
  aspect-ratio: 16/9;
  object-fit: cover;
}
.news_card-block {
  padding: 30px 20px;
}
.news_card-title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.news_card-title:hover::before {
  opacity: 0.3;
}
.news_card-title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a1d5ed;
  opacity: 0;
}
.news_card-description {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 39px;
}
.news_card-author {
  display: flex;
  align-items: center;
  gap: 20px;
}
.news_card .author_img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.news_card .author_content-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.news_card .author_content-date {
  color: #55B7FF;
  font-size: 14px;
  text-transform: capitalize;
}
.news .slick-dots {
  bottom: -40px;
}
.news .slick-dots li button:before {
  width: 10px;
  height: 10px;
  font-size: 0;
  border: 1px solid #fff;
  border-radius: 50%;
}
.news .slick-dots .slick-active button:before {
  background-color: #fff;
}
.news .slick-next {
  right: -5%;
}
.news .slick-next::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../assets/arrow_right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.news .slick-prev {
  left: -5%;
}
.news .slick-prev::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../assets/arrow_left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.gallery {
  padding: 150px 0;
}
.gallery .container {
  text-align: center;
}
.gallery_grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(214px));
  grid-template-columns: repeat(auto-fit, minmax(25%, 50%));
  gap: 10px;
  margin-bottom: 60px;
}
.gallery_grid-one {
  grid-row: 1/span 2;
  grid-column: 1/span 1;
}
.gallery_grid-two {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
}
.gallery_grid-tree {
  grid-row: 1/span 1;
  grid-column: 3/span 1;
}
.gallery_grid-four {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
}
.gallery_grid-five {
  grid-row: 2/span 1;
  grid-column: 3/span 1;
}
.gallery_grid-img {
  height: 100%;
  position: relative;
}
.gallery_grid-img::after {
  content: "";
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  background-image: url(../assets/bi_zoom-in.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.gallery_grid-img:hover::after {
  opacity: 1;
}
.map {
  aspect-ratio: 16/9;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  color: #fff;
  background-image: url(../img/footer_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
}
.footer .container_small {
  width: 90%;
  max-width: 770px;
  margin: 0 auto;
}
.footer_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.footer_copy {
  font-size: 14px;
}