*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

button, input {
  outline: 0;
  border: 0;
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

html, body {
  font-size: 16px;
}

.page_wrapper {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #4B5D68;
  transition: all 0.3s ease;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  font-size: 1rem;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
}
.header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  line-height: 160%;
}
.header .container .logo {
  transition: all 0.3s ease;
}
.header .container .logo:hover {
  transform: scale(1.3);
}
.header .container .icon_logo {
  width: 45px;
  height: 36px;
}

.header_nav {
  display: flex;
  justify-content: center;
  margin-left: 120px;
  margin-right: auto;
}
.header_nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}
.header_nav-item:hover {
  color: #8A40EE;
}
.header_nav-link {
  display: inline-block;
  padding: 10px 5px;
  text-transform: capitalize;
}

.header_demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.25em;
  color: #212353;
  border-radius: 50px;
  border: 1px solid #9C69E2;
  background: #fff;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 1.4375em;
  padding-right: 1.4375em;
}
.header_demo:hover {
  color: #fff;
  background: #9C69E2;
  --arrow: #fff;
}

.icon_arrow {
  width: 20px;
  height: 14px;
}

.hero {
  padding-top: 200px;
}
.hero .container {
  position: relative;
}
.hero_title {
  color: #212353;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 5em;
  line-height: 110%;
  width: 100%;
  max-width: 600px;
  margin-bottom: 0.625em;
}
.hero .description {
  width: 100%;
  max-width: 370px;
  margin-bottom: 2.7777em;
}
.hero .more-link {
  margin-bottom: 1.944em;
}
.hero .more-link:hover {
  border: 1px solid #8A40EE;
  background: #8A40EE;
}
.hero_image {
  width: 100%;
  max-width: 770px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.description {
  font-size: 1.125em;
  font-weight: 500;
  line-height: 160%;
}

.more-link {
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #9C69E2;
  background: #9C69E2;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 52px;
  padding-right: 52px;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 160%;
}

.storage {
  margin-top: 100px;
  margin-bottom: 120px;
}
.storage .container {
  border-radius: 50px;
  background-color: #FDE8F5;
  padding: 4.375em 4.6875em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.storage_image {
  width: 100%;
  max-width: 400px;
}
.storage_description {
  width: 100%;
  max-width: 500px;
}
.storage_description .title {
  margin-bottom: 1em;
}

.title {
  color: #212353;
  font-family: "Work Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 130%;
}

.features {
  text-align: center;
}
.features .title {
  margin-bottom: 1.25em;
}
.features .description {
  width: 100%;
  max-width: 640px;
  margin: 0 auto 4.45em;
}

.cards {
  padding-left: 170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3.125em;
}

.card {
  position: relative;
}
.card_image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  left: -170px;
  width: 100%;
}
.card_content {
  width: 100%;
  max-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  row-gap: 20px;
  padding: 62px 70px 62px 100px;
  border-radius: 50px;
}
.card_title {
  color: #212353;
  font-family: "Work Sans", sans-serif;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 130%;
  z-index: 1;
}
.card_description {
  font-weight: 400;
  line-height: 160%;
  flex-grow: 1;
  z-index: 1;
}
.card_link {
  display: inline-block;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.08px;
  position: relative;
  padding-right: 40px;
  transition: all 0.3s ease;
}
.card_link::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 14px;
  background-image: url(../img/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card_link:hover {
  transform: scale(1.3);
}

.search_image,
.security_image {
  max-width: 230px;
}

.access_image {
  max-width: 241px;
}

.print_image {
  max-width: 245px;
}

.card_search {
  position: relative;
  background-color: #7edcd3;
}
.card_search::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 50px;
  width: 195px;
  height: 140px;
  background-image: url(../img/bg-card1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card_access {
  position: relative;
  background-color: #8944d9;
}
.card_access::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 211px;
  height: 151px;
  background-image: url(../img/bg-card2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card_print {
  position: relative;
  background-color: #dd298f;
}
.card_print::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 65px;
  height: 51px;
  background-image: url(../img/bg-card3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card_security {
  position: relative;
  background-color: #dd298f;
}
.card_security::before {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  left: 7px;
  width: 324px;
  height: 188px;
  background-image: url(../img/bg-card4-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.card_security::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 62px;
  height: 44px;
  background-image: url(../img/bg-card4-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.testimonials {
  margin-top: 7.5em;
}
.testimonials .container {
  border-radius: 50px;
  background-color: #CDF;
  padding: 5em 4.375em;
  background-image: url(../img/bg-testimonials.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.testimonials .title {
  color: #4B5D68;
  text-align: center;
  margin-bottom: 2em;
}

.reviews-cards {
  display: flex;
  justify-content: center;
  column-gap: 100px;
}

.reviews-card {
  display: flex;
  column-gap: 15px;
  width: calc(50% - 50px);
  padding: 3.125em 1.875em;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #9C69E2;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
}
.reviews-card_image {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.reviews-card_content {
  max-width: 300px;
}
.reviews-card_content .author-name {
  text-transform: capitalize;
  color: #212353;
  font-size: 1rem;
  font-weight: 500;
  line-height: 160%;
}
.reviews-card_content .author_link {
  color: #9C69E2;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.14px;
}
.reviews-card_content .author-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}
.reviews-card_content .author-text:nth-of-type(1) {
  margin-top: 1.2em;
}

.footer {
  padding: 120px 0;
}
.footer_heading {
  display: flex;
  align-items: center;
  row-gap: 20px;
}
.footer_heading .title {
  margin-bottom: 0.5em;
}
.footer_heading-button {
  display: flex;
  margin-left: auto;
}
.footer_heading-button .more-link {
  display: inline-block;
  border: 1px solid #F063B8;
  background: #F063B8;
  transition: all 0.3s ease;
}
.footer_heading-button .more-link:hover {
  border: 1px solid #EB4BAB;
  background: #EB4BAB;
}
.footer_heading-button .header_demo {
  margin-left: 30px;
}
.footer_nav {
  padding: 100px 0;
  display: flex;
}
.footer_nav-contacts {
  width: 100%;
  max-width: 300px;
}
.footer_nav-contacts .logo {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 3.75em;
}
.footer_nav-contacts .icon_logo {
  width: 49px;
  height: 35px;
}
.footer_nav-contacts .info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: #212353;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0.16px;
}
.footer_nav-contacts .info a {
  font-weight: 400;
}
.footer_nav-list {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 670px;
}
.footer_nav-categories .footer-title {
  font-size: 1rem;
  margin-bottom: 1.875em;
  text-transform: capitalize;
}
.footer_nav-categories .footer-item {
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.footer_nav-categories .footer-item:hover {
  color: #8A40EE;
}
.footer_social-list {
  display: flex;
  column-gap: 15px;
}
.footer-bottom {
  width: 100%;
  max-width: 275px;
  color: #212353;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 180%;
  letter-spacing: 0.12px;
}

.footer-title {
  color: #212353;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 160%;
}

.icon_social {
  width: 50px;
  height: 50px;
}

.social-item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.social-item:hover {
  --socialCard: #00ACEE;
  --opacity: 1;
  --col1: #00ACEE;
}

.mobile {
  display: none;
}

.mobile_nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  padding: 0.7em;
  background-color: rgba(253, 232, 245, 0.9);
  border-radius: 50px;
  top: 82px;
  right: 0;
  width: 90%;
  height: 80vh;
  transform: translateX(100%);
  transition: all 0.3s ease;
}
.mobile_nav .header_nav-list {
  text-align: center;
}
.mobile_nav .header_nav-link {
  padding: 20px;
}
.mobile_nav .header_demo {
  width: 80%;
  margin: 0 auto;
}

.mobile_nav.is-open {
  transform: translateX(0);
}

@media screen and (max-width: 968px) {
  .lock {
    overflow: hidden;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
  .mobile .header_nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.3em;
  }
  .mobile .header_nav-item {
    width: 80%;
    border-radius: 50px;
    background-color: #fff;
  }
  .mobile .header_nav-link {
    width: 100%;
  }

  .hero {
    padding-top: 100px;
    text-align: center;
  }
  .hero_title {
    font-size: 3rem;
    margin-bottom: 0.4em;
    margin-left: auto;
    margin-right: auto;
  }
  .hero .description {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    margin-bottom: 1em;
  }

  .hero_image {
    position: relative;
  }

  .storage {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .storage .container {
    flex-direction: column-reverse;
    row-gap: 0.5em;
    padding: 1.5em;
  }
  .storage_description {
    max-width: none;
  }
  .storage_description .title {
    font-size: 1.8rem;
    margin-bottom: 0.8em;
  }

  .features .title {
    font-size: 2rem;
  }
  .features .description {
    margin-bottom: 2em;
  }

  .testimonials {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .cards {
    padding-left: 0;
    row-gap: 1.1em;
  }

  .card {
    display: flex;
    column-gap: 0.8em;
  }
  .card_image {
    position: static;
    align-self: center;
    transform: translateX(0);
    max-width: 80%;
  }
  .card_content {
    min-height: auto;
    max-width: none;
    padding: 2em;
  }

  .reviews-cards {
    flex-direction: column;
    row-gap: 20px;
  }
  .reviews-cards .reviews-card {
    width: 100%;
  }
  .reviews-cards .reviews-card_content {
    max-width: none;
  }

  .footer {
    padding: 40px 0;
  }
  .footer_heading {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer_heading-button {
    margin-left: 0;
  }
  .footer_nav {
    padding: 40px;
    flex-direction: column;
    row-gap: 20px;
  }
  .footer_nav .logo {
    margin-bottom: 1.5em;
  }
  .footer_nav-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 50px;
    row-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .mobile_nav .header_demo {
    font-size: 1.5rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.8em;
  }
  .card_image {
    position: static;
    transform: translateX(0);
    max-width: 50%;
  }
  .card_content {
    flex-direction: column;
    align-self: auto;
    padding: 1.5em;
  }

  .footer_nav {
    padding-left: 0;
  }

  .footer_social-list {
    column-gap: 20px;
  }
}
@media screen and (max-width: 568px) {
  .hero_title {
    font-size: 2rem;
    width: 80%;
  }

  .testimonials .container {
    padding: 1.5em;
  }
  .testimonials .title {
    margin-bottom: 1em;
  }

  .reviews-card {
    padding: 1.5em;
    flex-direction: column;
  }

  .footer_heading-button {
    flex-direction: column;
    row-gap: 10px;
  }
  .footer_heading-button .header_demo {
    margin-left: 0;
  }
}