@import 'reset';
@import 'hamburger';

$mainFontFamily: 'Montserrat', sans-serif;
$titleFontFamily: 'Work Sans', sans-serif;
$mainColor: #4B5D68;
$titleColor: #212353;
$accentColorLink: #8A40EE;

@mixin button($border, $bg, $padd) {
  border-radius: 50px;
  border: 1px solid  $border;
  background: $bg;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: $padd;
  padding-right: $padd;
}

html, body {
  font-size: 16px;
}
.page_wrapper {
  font-family: $mainFontFamily;
  font-size: 1rem;
  font-weight: 500;
  color: $mainColor;
  transition: all .3s ease;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}


.header {
  font-size: 1rem;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    line-height: 160%;
    .logo {
      transition: all .3s ease;
      &:hover {
        transform: scale(1.3);
      }
    }
    .icon_logo {
      width: 45px;
      height: 36px;
    }
  }
}

.header_nav {
  display: flex;
  justify-content: center;
  margin-left: 120px;
  margin-right: auto;

  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
  }

  &-item {
    &:hover {
      color: $accentColorLink;
    }
  }

  &-link {
    display: inline-block;
    padding: 10px 5px;
    text-transform: capitalize;
  }
}

.header_demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.25em;
  color: $titleColor;
  @include button(#9C69E2, #fff, 1.4375em);
  &:hover {
    color: #fff;
    background: #9C69E2;
    --arrow: #fff;
  }
}

.icon_arrow {
  width: 20px;
  height: 14px;
}

.hero {
  padding-top: 200px;
  // height: 100vh;
  .container {
    position: relative;
  }
  &_title {
    color: $titleColor;
    font-family: $titleFontFamily;
    font-weight: 700;
    font-size: 5em;
    line-height: 110%;
    width: 100%;
    max-width: 600px;
    margin-bottom: .625em;
  }
  .description {
    width: 100%;
    max-width: 370px;
    margin-bottom: 2.7777em;
  }
  .more-link {
    margin-bottom: 1.944em;
    &:hover {
      border: 1px solid $accentColorLink;
      background: $accentColorLink;
    }
  }
  &_image {
    width: 100%;
    max-width: 770px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.description {
font-size: 1.125em;
font-weight: 500;
line-height: 160%;
}
.more-link {
  display: inline-block;
  @include button(#9C69E2, #9C69E2, 52px);
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 160%;
}

.storage {
  margin-top: 100px;
  margin-bottom: 120px;
  .container {
    border-radius: 50px;
    background-color: #FDE8F5;
    padding: 4.375em 4.6875em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_image {
    width: 100%;
    max-width: 400px;
  }
  &_description {
    width: 100%;
    max-width: 500px;
    .title {
      margin-bottom: 1em;
    }
  }
}
.title {
  color: $titleColor;
  font-family: $titleFontFamily;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 130%;
}

.features {
  text-align: center;
  .title {
    margin-bottom: 1.25em;
  }
  .description {
    width: 100%;
    max-width: 640px;
    margin: 0 auto 4.45em;
  }
}
.cards {

  padding-left: 10.625em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3.125em;
}
.card {
  position: relative;
  
  
  &_image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: -170px;
    width: 100%;
  }
  &_content {
    width: 100%;
    max-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    row-gap: 20px;
    padding: 62px 70px 62px 100px;
    border-radius: 50px;
  }
  &_title {
    color: $titleColor;
    font-family: $titleFontFamily;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 130%;
    z-index: 1;
  }
  &_description {
    font-weight: 400;
    line-height: 160%;
    flex-grow: 1;
    z-index: 1;
  }
  &_link {
    display: inline-block;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.08px;
    position: relative;
    padding-right: 40px;
    transition: all .3s ease;
    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 20px;
      height: 14px;
      background-image: url(../img/arrow.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:hover {
      transform: scale(1.3);
    }
  }
}

.search_image,
.security_image {
  max-width: 230px;
}

.access_image {
  max-width: 241px;
}
.print_image {
  max-width: 245px;
}

.card_search {
  position: relative;
  background-color: #7edcd3;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
    width: 195px;
    height: 140px;
    background-image: url(../img/bg-card1.svg);
    background-size: contain;
    background-position: center;
  }
}
.card_access {
  position: relative;
  background-color: #8944d9;
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 211px;
    height: 151px;
    background-image: url(../img/bg-card2.svg);
    background-size: contain;
    background-position: center;
  }
}


.card_print {
  position: relative;
  background-color: #dd298f;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top:  20px;
    right: 20px;
    width: 65px;
    height: 51px;
    background-image: url(../img/bg-card3.svg);
    background-size: contain;
    background-position: center;
  }
}

.card_security {
  position: relative;
  background-color: #dd298f;
  background-image: url(../img/bg-card4.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 360px;
}




.mobile {
  display: none;
}
.mobile_nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.7em;
  background-color: rgba(253, 232, 245, .9);
  border-radius: 50px;
  top: 82px;
  right: 0;
  width: 90%;
  height: 80vh;
  transform: translateX(100%);
  transition: all .3s ease; 
 .header_nav-list {
  text-align: center;
 }
 .header_nav-link{
  padding: 20px;
 }
 .header_demo {
  width: 80%;
  margin: 0 auto;
  
 }
}
.mobile_nav.is-open {
  transform: translateX(0);
}
@media screen and (max-width: 968px) {
  html, body {
    font-size: 22px;
  }
 .lock {
    overflow: hidden;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    
    .header_nav-list {
      display: flex;
      flex-direction: column;
      row-gap: .3em;
    }
    .header_nav-item {
      width: 80%;
      border-radius: 50px;
      background-color: #fff;
    }
    .header_nav-link {
      width: 100%;    
    }
  }
  .hero {
    padding-top: 100px;
    text-align: center;
    &_title {
    font-size: 3rem;
    margin-bottom: .4em;
    margin-left: auto;
    margin-right: auto;
    }  
  .description {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    margin-bottom: 1em;
  }
  }
  .hero_image {
    position: relative;
  }

  .storage {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    .container {
      flex-direction: column-reverse;
      row-gap: .5em;
      padding: 1.5em;
    }
    &_description {
      max-width: none;
      .title {
        font-size: 1.8rem;
        margin-bottom: .8em;
      }
    }
  }

  .cards {
    padding-left: 0;
    row-gap: 0.8em;
  }
  .card {
    display: flex;
    // flex-direction: column-reverse;
    align-items: center;
    column-gap: 0.8em;
    &_image {
     position: static;
     transform: translateX(0);
     max-width: 80%;
    }
    &_content {
      min-height: auto;
      max-width: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 0.8em;
    &_image {
     position: static;
     transform: translateX(0);
     max-width: 80%;
    }
  }
}

@media screen and (max-width: 568px) {

  html, body {
    font-size: 24px;
  }
  .hero {
   &_title {
    font-size: 2rem;
    width: 80%;
    }
    .description {
    // max-width: none;
    }
  }
}