*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

button, input {
  outline: 0;
  border: 0;
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.hero .header {
  position: relative;
}
.hero .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.hero .header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 42px;
  margin-left: auto;
  margin-right: 85px;
}
.hero .header-item {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  position: relative;
}
.hero .header-item:hover:after {
  display: block;
}
.hero .header-item::after {
  content: "";
  position: absolute;
  display: none;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 1px;
  background-color: #000;
  transition: all, 0.3s, ease;
}
.hero_image {
  background-image: url(../img/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 98.4px);
}
.hero_title {
  padding-top: 100px;
  width: 100%;
  max-width: 770px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 2.4px;
}

.search-button {
  cursor: pointer;
}

.blog {
  padding: 90px 0;
}
.blog_wrapper {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
}
.blog_wrapper :not(:last-child) {
  margin-bottom: 50px;
}
.blog_wrapper-block {
  align-self: center;
  width: calc(50% - 15px);
  max-width: 570px;
}

.title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.4px;
  margin-bottom: 50px;
}

.blog-info {
  align-self: center;
  width: 100%;
  max-width: 450px;
}
.blog-info_left {
  margin-left: auto;
}
.blog-info_name, .blog-info_data {
  font-family: "Lato", sans-serif;
  color: #7B7B7B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.2px;
  margin-bottom: 30px;
}
.blog-info_title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 166%;
  letter-spacing: 2.3px;
  margin-bottom: 15px;
}
.blog-info_data {
  display: block;
  margin-bottom: 50px;
}

.description {
  font-family: "Lato", sans-serif;
  color: #565656;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 0.8px;
}
.description .arrow {
  position: relative;
  left: 20px;
  width: auto;
  cursor: pointer;
}

.posts {
  padding-bottom: 90px;
}
.posts-header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.posts-header_title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 166%;
  letter-spacing: 2.8px;
  text-transform: capitalize;
}
.posts-header_view {
  cursor: pointer;
  margin-left: auto;
  font-family: "Lato", sans-serif;
  color: #565656;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.6px;
  position: relative;
  padding-right: 43px;
}
.posts-header_view::after {
  content: "";
  display: block;
  width: 24px;
  height: 12px;
  position: absolute;
  background-image: url(../img/arrow.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.posts-blocks {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.posts_article {
  width: 100%;
  max-width: 370px;
  padding-bottom: 25px;
}
.posts_article-img {
  margin-bottom: 25px;
}

.posts-position {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.posts-position_name {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.2px;
}

.posts_article-title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 166%;
  letter-spacing: 2.2px;
  margin-bottom: 20px;
}

.popular_article-img {
  margin-bottom: 20px;
}

.popular-title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 166%;
  letter-spacing: 2.4px;
}

.button {
  display: block;
  margin: 50px auto 0;
  background-color: #565656;
  padding: 10px 45px;
  width: auto;
  color: #fff;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 166%;
  letter-spacing: 1.6px;
}

.section-info_wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}
.section-info_block {
  width: 100%;
  max-width: 470px;
}
.section-info_description {
  font-family: "Red Hat Display", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.95px;
}
.section-info_title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 2.3px;
}

.arrow-info {
  cursor: pointer;
  margin-top: 20px;
}

.section-info_description:not(:last-child) {
  margin-bottom: 20px;
}

.footer {
  padding: 70px 0 30px;
  background-color: #F4F4F4;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-list {
  display: flex;
  column-gap: 23px;
}
.footer-item {
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: all 0.3s ease;
}
.footer-item:hover {
  background-color: #565656;
  --colorLink: #fff;
}
.footer .title {
  margin-bottom: 30px;
}
.footer-link {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.6px;
  margin-bottom: 15px;
}
.footer-down {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.2px;
  text-align: center;
}

.logo-icon {
  width: 142px;
  height: 12px;
}

.instagram-icon {
  width: 26px;
  height: 24px;
}

.facebook-icon {
  width: 14px;
  height: 24px;
}

.twitter-icon {
  width: 30px;
  height: 24px;
}

.linkedin-icon {
  width: 24px;
  height: 24px;
}