.wrapper_page {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 13px 0;
}

.breadcrump {
  font-size: 0;
}

.breadcrump li+li::before {
  content: '/';
  padding: 0 10px;
}

.breadcrump_item {
  font-family: 'Staatliches', cursive;
  display: inline-block;
  font-size: 22px;
  letter-spacing: 0.66px;
  opacity: .7;
}

.page_open {
  opacity: 1;
}

.logo {
  margin: 0 0 0 auto;
}

.user_language {
  text-transform: uppercase;
  font-family: 'Tourney', cursive;
  font-size: 22px;
  line-height: 18px;
  letter-spacing: 0.88px;
}

.main {
  padding: 70px 0;
}

.main-container {
  display: flex;
  column-gap: 30px;
}

.bg-picture {
  position: fixed;
  z-index: -1;
  width: 100%;
  max-width: 760px;
  top: 150px;
  right: 0;
}
.sidebar {
  padding-top: 80px;
}
.sidebar-list {
  position: sticky;
  top: 80px;
  left: 0;
}

.sidebar-link {
  display: inline-block;
  margin-bottom: 30px;
}

.document {
  width: 100%;
  max-width: 785px;
}

.section {
  padding-top: 80px;
}

.line {
  display: block;
  width: 100px;
  height: 8px;
  background-color: #000;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 40px;
  font-family: 'Francois One', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.sup_title {
  position: relative;
  display: inline-block;
  transform: scale(0.5);
  top: -20px;
  left: -40px;
  font-family: 'Farro', sans-serif;
  font-feature-settings: 'sups' on;
  font-size: 30px;
  letter-spacing: 1.2px;
  padding-left: 10px;
  text-transform: capitalize;
  font-weight: 300;
}

.section_content {
  font-family: 'PT Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
  padding-bottom: 40px;
}

code {
  font-family: inherit;
  background: #DADADA;
}

.pizza {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  background-image: url(../img/btf.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.using-title {
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 1.44px;
}

.using-section-title {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 40px;
}

.line-using {
  display: block;
  width: 100px;
  height: 8px;
  background-color: #000;
}

.using-section-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
}

.card_wrapper {
  width: 270px;
  height: 180px;
  border-radius: 8px;
}

.card_flip {
  position: relative;
  width: 100%;
  height: 100%;
}

.card_flip:hover .card-front {
  transform: rotateX(180deg);
}

.card_flip:hover .card-hover {
  transform: rotateX(0deg);
}

.card-front,
.card-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all .6s ease;
}

.card-hover {
  transform: rotateX(180deg);
}