.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.edit_text {
  font-size: 20px;
  /* text-align: center; */
  width: 100%;
  max-width: 500px;
  border: 2px solid lightcoral;
  border-radius: 20px;
  margin: 20px;
  padding: 30px;
}
textarea {
  font-family: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 4px;
}
th {
  cursor: pointer;
}
th:hover {
  background: yellow;
}